@media(max-width:1250px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }
    #banner h1{
        width: 100%;
        font-size: 35px;
        text-align: center;
    }
    .card{
        width: 17%;
        margin: 1.45%;
        text-align: center;
    }
    .card p{
        display: block;
        width: 90%;
        margin: 0px auto;
        text-align: center;
        
    }
    #articles{
        width: 65%;
    }
    #articles article{
        width: 97%;
    }
    #footer .wrap > div{
        width: 24%;
        margin: 4%;
    }
    #footer #browsers img{
        width: 14%;
    }
    #footer h5{
        font-size: 30px;
    }

}
@media (max-width: 1080px) {
    .card .category{
        font-size: 17px;
    }
    .card .description{
        font-size: 17px;
    }
    #articles{
        width: 61%;
    }
    #footer .wrap > div{
        width: 26%;
        margin: 20px;
    }
}
@media (max-width: 970px) {
    #articles{
        width: 59%;
    }
    #footer h5{
        font-size: 22px;
    }
}
@media (max-width: 925px) {
    #articles{
        width: 65%;
    }
    #lateral{
        width: 25%;
    }
    .card .description{
        font-size: 14px;
    }
    #lateral input[type="text"]{
        width: 78%;
    }
    .aside-box{
        width: 90%;
        min-height: 140px;
        height: auto;
        padding-bottom: 10px;
    }

    #login input[type="email"], 
    #login input[type="password"]{
        width: 70%;
    }
    #login #user,
    #login #passoword{
        margin-left: 24px;

    }
    #login input[type="submit"],
    #login input[type="button"],
    #login input[type="reset"],
    #login button{
        margin-bottom: 0px;
    }
    #login input[type="reset"]{
        display: none;
    }
    #login input[type="submit"]{
        margin-top: -5px;
    }

    #login a {
        display: inline-table;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    
}
@media (max-width: 899px){
    #lateral h3{
        font-size: 20px;
    }
    #baner h1{
        font-size: 25px;
    }
    .card{
        height: auto;
    }
    .card .category{
        font-size: 15px;
        margin-top: -23px;
    }
    .card .description{
        display: none;
    }
    #footer img{
        max-width: 200px;
    }
    #login input[type="submit"], #login input[type="button"], #login input[type="reset"], #login button{
        width: 100%;
        margin: 0px auto;
    }
}
@media (max-width: 724px){
    #header{
        width: 100%;
        height: 135px;
        padding-top: 10px;
    }
    #logotipo{
        width: 200px;
        margin-left: 37%;
    }
    #menu{
        clear: both;
        float: none;
        width: 440px;
        margin: 0px auto;
    }
    #articles #blog{
        width: 150%;
    }
    #login input[type="submit"], #login input[type="button"], #login input[type="reset"], #login button{
        width: 100%;
        margin: 0px auto;
    }
}
@media (max-width: 660px){
    #articles{
       width:  100%;
       float: none;
       margin: 0px auto;
       min-height: auto;
       margin-top: 20px;

    }
    #lateral{
        margin: 0px auto;
        float: none;
        width: 100%;
        min-height: auto;
        margin-top: 20px;
    }
    #lateral input[type="text"]{
        width: 92%;
    }
    #login #user, #login #passoword {
        margin-left: 17px;
    }
    #login a {
        display: block;
        margin-top: 24px;
        margin-bottom: 10px;
        margin-left: 15px;
        font-size: 16px;
    }
    #banner h1{
        font-size: 2025px;
    }
    #login input[type="submit"], #login input[type="button"], #login input[type="reset"], #login button {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 15px;
    }
    #login input[type="email"], #login input[type="password"] {
        width: 90%;
    }
    #articles #blog {
        width: 100%;
    }
    #footer{
        height: auto;
        padding-bottom:40px ;
    }
    #footer .wrap > div{
        width: 100%;
        margin: 0px auto;
        margin-top: 20px;
    }
    #footer h5{
        font-size: 25px;
    }
     .card{
        width: 16.9%;
    }
}
@media (max-width: 475px){
    #banner{
        height: 85px;
    }
    #banner h1{
        font-size: 18px;
    }
    .card .icon{
        font-size: 35px;
    }
    .card:hover .icon{
        font-size: 35px;
    }
    #articles #blog {
        width: 96%;
    }
    #logotipo {
        width: 200px;
        margin-left: -11%;
    }

}